body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:relative;
  left:-160px;
  width:997px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:160px;
  top:230px;
  width:670px;
  height:460px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:670px;
  height:460px;
}
#u1 {
  position:absolute;
  left:2px;
  top:222px;
  width:666px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:193px;
  top:271px;
  width:97px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:193px;
  top:537px;
  width:597px;
  height:20px;
  line-height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:787px;
  top:239px;
  width:35px;
  height:35px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:193px;
  top:562px;
  width:200px;
  height:38px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8_input:disabled {
  color:grayText;
}
#u9 {
  position:absolute;
  left:193px;
  top:309px;
  width:58px;
  height:20px;
  line-height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:193px;
  top:329px;
  width:317px;
  height:38px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:193px;
  top:412px;
  width:100px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:303px;
  top:412px;
  width:45px;
  height:45px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:303px;
  top:467px;
  width:45px;
  height:45px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:358px;
  top:412px;
  width:45px;
  height:45px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:358px;
  top:467px;
  width:45px;
  height:45px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:413px;
  top:412px;
  width:45px;
  height:45px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:413px;
  top:467px;
  width:45px;
  height:45px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:468px;
  top:412px;
  width:45px;
  height:45px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:468px;
  top:467px;
  width:45px;
  height:45px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:853px;
  top:351px;
  width:249px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:193px;
  top:388px;
  width:58px;
  height:20px;
  line-height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:303px;
  top:390px;
  width:53px;
  height:20px;
  line-height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:857px;
  top:412px;
  width:300px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:384px;
  top:629px;
  width:196px;
  height:40px;
  color:#FFFFFF;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:340px;
  top:755px;
  width:310px;
  height:55px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:55px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:359px;
  top:768px;
  width:14px;
  height:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:408px;
  top:774px;
  width:196px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:341px;
  top:950px;
  width:309px;
  height:55px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:55px;
}
#u47 {
  position:absolute;
  left:2px;
  top:20px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:361px;
  top:963px;
  width:15px;
  height:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:410px;
  top:969px;
  width:170px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:342px;
  top:820px;
  width:308px;
  height:55px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:55px;
}
#u53 {
  position:absolute;
  left:2px;
  top:20px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:362px;
  top:833px;
  width:15px;
  height:28px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:411px;
  top:839px;
  width:144px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:710px;
  top:774px;
  width:170px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:342px;
  top:885px;
  width:308px;
  height:55px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:55px;
}
#u61 {
  position:absolute;
  left:2px;
  top:20px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:362px;
  top:898px;
  width:15px;
  height:28px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:408px;
  top:902px;
  width:144px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
