body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:651px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:189px;
  top:114px;
  width:170px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:190px;
  top:150px;
  width:461px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:160px;
  width:70px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:381px;
  top:181px;
  width:33px;
  height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:280px;
  top:187px;
  width:79px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:501px;
  top:163px;
  width:79px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:342px;
  top:250px;
  width:118px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:475px;
  top:189px;
  width:137px;
  height:40px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
